@import '../utils/vars';
@import '../utils/mixins';

.btn {
  padding: .5rem 1.25rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: .15rem;
  border-radius: 10rem;
  transition-property: color, width;
  transition-duration: .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:after {
    content: '';
    @include square(100%);
    background-color: $secondaryColor;
    border-radius: 10rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
  }

  &:before {
    content: '';
    width: 0%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darken($secondaryColor, 15%);
    border-radius: 10rem;
    transition: all .3s;
    z-index: -1;
  }
  
  &:hover {
    color: #fff;

    &:before {
      width: 100%;
    }
  }

  &:disabled {
    background-color: $secondaryColor;
    opacity: 0.5;
    pointer-events: none;
  }
}
