@import '../utils/vars';

.btn {
  height: 40px;
  width: 130px;
  font-size: 18px;
  color: #000;
  border-radius: 50px;
  background-color: $primaryColor;

  &:disabled {
    background-color: $secondaryColor;
    cursor: auto;
  }
}