@import '../../styles/utils/mixins';

.auth {
  @include square(100%);
  @include backgroundImageSett;
  position: relative;

  &__wrapper {
    @include positionCenter;
  }

  &__title {
    margin-bottom: 40px;
  }

  &--dis {
    filter: grayscale(80%);
  }
}