@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/Mulish-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Mulish';
  src: url('../assets/fonts/Mulish-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}