* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  cursor: pointer;
  user-select: none;
}
