@import '../../styles/utils/mixins';

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
  @include backgroundImageSett;
}

.main {
  flex: 1 1 auto;
  position: relative;
}