@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.modal {
  @include square(100%);
  @include flexCenter;
  background-color: rgba($color: #000, $alpha: 0.8);
  position: absolute;
  top: 0;
  left: 0;

  &__wrapper {
    width: 200px;
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    @include flexCenter;
    color: #000;
    background-color: $secondaryColor;
  }
}