@import '../../styles/utils/vars';
@import '../../styles/utils/mixins';

.search {
  @include square(100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $primaryInputBG;
  position: relative;

  &__input {
    @include square(100%);
    padding: 5px 20px;
  }

  &__btn {
    width: 40px;
    height: 100%;
    @include flexCenter;
    background-color: $secondaryColor;
  }

  &__icon {
    @include square(20px);
  }

  &__list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;

    min-width: 200px;
    max-height: 400px;
    overflow-y: auto;
  }

  &__link {
    padding: 5px;
    background-color: $secondaryColor;
    color: #000;
    font-size: 15px;
  }
}